//.nav-bar {
//  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25) !important;
//}

.main-container {
  height: 93.1%;

  .sideNav {
    width: 17%;
  }

  .content {
    height: 100%;
    margin: 2%
  }
}
