<div class="entire-form">
  <div class="detail+image">
    <div class=" img-div">
      <img class="profile-image" src="assets/default-profile-icon.svg">
    </div>
    <div class="detail-div-part1">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input disabled matInput value="{{user.firstName}}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input disabled matInput value="{{user.lastName}}">
      </mat-form-field>
    </div>
  </div>
  <div class="detail-div-part2">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input disabled matInput value="{{user.email}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input disabled matInput value="{{user.phoneNumber}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input disabled matInput value="{{user.state}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input disabled matInput value="{{user.country}}">
    </mat-form-field>
  </div>
</div>
