<mat-tab-group (selectedTabChange)="tabChange($event.index)">


  <mat-tab label="Basic Info">
    <div class="basic-details-tab">
      <div class="edit-add-buttons">
        <button (click)="editBasicDetails.next(!bool)" mat-mini-fab matTooltip="Edit your Details">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button (click)="saveBasicDetails()" *ngIf="bool" id="saveBtn" mat-mini-fab
                matTooltip="Save Details">
          <mat-icon color="primary">save</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Add Details">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>


      <div class="entire-form">
        <div class="detail+image">
          <form [formGroup]="form" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput>
            </mat-form-field>

            <table cellspacing="0" class="example-full-width">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input formControlName="firstName" matInput>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input formControlName="phoneNumber" matInput>
            </mat-form-field>


            <table cellspacing="0" class="example-full-width">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input formControlName="country" matInput
                           placeholder="Ex. San Francisco">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input formControlName="state" matInput
                           placeholder="Ex. California">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>

          <div class="img-div">
            <img class="profile-image" src="assets/default-profile-icon.svg">
          </div>
        </div>

        <!--        <div class="address-fields">-->
        <!--          <mat-form-field class="example-full-width">-->
        <!--            <mat-label>Address</mat-label>-->
        <!--            <textarea matInput-->
        <!--                      placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>-->
        <!--          </mat-form-field>-->
        <!--          <mat-form-field class="example-full-width">-->
        <!--            <mat-label>Address 2</mat-label>-->
        <!--            <textarea matInput></textarea>-->
        <!--          </mat-form-field>-->
        <!--        </div>-->
      </div>
    </div>
  </mat-tab>


  <!--  <div [formGroup]="form" class="login-container">-->
  <!--    <mat-form-field appearance="fill" class="login-email-field">-->
  <!--      <mat-label>Enter your email</mat-label>-->
  <!--      <input formControlName="email" matInput placeholder="abcd@example.com" required>-->
  <!--      <mat-error *ngIf="this.form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>-->
  <!--    </mat-form-field>-->

  <!--    <mat-form-field appearance="fill">-->
  <!--      <mat-label>Enter your password</mat-label>-->
  <!--      <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>-->
  <!--      <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button-->
  <!--              matSuffix>-->
  <!--        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
  <!--      </button>-->
  <!--    </mat-form-field>-->

  <!--    <mat-form-field>-->
  <!--      <input formControlName="firstName" matInput placeholder="First Name" required type="text">-->
  <!--    </mat-form-field>-->
  <!--    <mat-form-field>-->
  <!--      <input formControlName="lastName" matInput placeholder="Last Name" required type="text">-->
  <!--    </mat-form-field>-->
  <!--    <mat-form-field>-->
  <!--      <input formControlName="phone" matInput placeholder="Phone Number" required type="number">-->
  <!--    </mat-form-field>-->
  <!--    <mat-form-field>-->
  <!--      <input formControlName="state" matInput placeholder="State" required type="text">-->
  <!--    </mat-form-field>-->
  <!--    <mat-form-field>-->
  <!--      <input formControlName="country" matInput placeholder="Country" required type="text">-->
  <!--    </mat-form-field>-->
  <!--  </div>-->


  <mat-tab label="Documents">

    <div class="results">
      <mat-card *ngFor="let document of documents" class="hover documentCard">
        <div class="data">
          <mat-card-header>
            <mat-card-title>{{document.documentType}}</mat-card-title>
            <mat-card-subtitle>{{document.documentId}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{document.documentReference}}
          </mat-card-content>
        </div>
        <div class="actions">
          <button (click)="viewDocument(document)" mat-mini-fab matTooltip="View Document">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
          <!--          <button mat-mini-fab matTooltip="Edit Document Details">-->
          <!--            <mat-icon color="primary">edit</mat-icon>-->
          <!--          </button>-->

          <button [matMenuTriggerFor]="menu" mat-mini-fab>
            <mat-icon>
              more_vert
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon color="primary">edit</mat-icon>
              Edit
            </button>
            <button (click)="deleteDocument(document)" mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </button>
          </mat-menu>
        </div>
      </mat-card>

      <mat-card (click)="addDocument()" class="hover documentCard add-btn">
        <mat-card-content style="display: flex;flex-direction: column;align-items: center;">
          <button disabled mat-fab>
            <mat-icon>add</mat-icon>
          </button>
          <span>Add Document</span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>


  <!--  <mat-tab label="Bank Details">Bank Details</mat-tab>-->
</mat-tab-group>
