.attendanceTable {
  padding: 10px;
  min-width: 700px;
}

#attendance-details-row:hover {
  //box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.75);
  //background-color: #dcdcdc;
  transform: scale(1.01);
  box-shadow: 0px 0px 13px hsla(0, 0%, 40%, 0.75);
  cursor: pointer;
}

.ActionsColumn {
  width: 7%;
}

#Actions, #ActionsBody {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

//td:hover {
//  //background-color: #9d8fbe;
//  box-shadow: 12.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
//}
