<div class="login-component">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Qray Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="form" class="login-container">
        <mat-form-field appearance="fill" class="login-email-field">
          <mat-label>Enter your email</mat-label>
          <input formControlName="email" matInput placeholder="abcd@example.com" required>
          <mat-error *ngIf="this.form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
          <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                  matSuffix>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between">
      <button (click)="login()" [disabled]="this.form.controls['email'].invalid" color="primary" mat-raised-button>
        <mat-spinner *ngIf="loading" class="spinner" diameter="20"></mat-spinner>
        <span *ngIf="!loading">Login</span>
      </button>

      <a routerLink="/signUp">Sign Up</a>
    </mat-card-actions>
  </mat-card>
</div>
