<mat-toolbar class="" color="primary">
  <button (click)="toggleSidenav.emit()" aria-label="Example icon-button with menu icon" class="example-icon"
          mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">Qray</span>
  <span class="navbar-spacer"></span>

  <button [matMenuTriggerFor]="menu" class="fab-with-no-color" mat-mini-fab>
    <mat-icon color="accent">
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!--    <button mat-menu-item>-->
    <!--      <mat-icon color="primary">edit</mat-icon>-->
    <!--      Change Password-->
    <!--    </button>-->
    <button (click)="logout()" color="accent" mat-menu-item>
      <mat-icon color="warn">logout</mat-icon>
      Logout
    </button>
  </mat-menu>

</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
