<mat-card *ngIf="document" class="documentCard">
  <div class="data">
    <mat-card-header>
      <mat-card-title>{{document.documentType}}</mat-card-title>
      <mat-card-subtitle>{{document.documentId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{document.documentReference}}
    </mat-card-content>
  </div>
  <div class="actions">
    <button (click)="viewDocument(document.documentUrl)" mat-mini-fab matTooltip="View Document">
      <mat-icon color="primary">visibility</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Edit Document Details">
      <mat-icon color="primary">edit</mat-icon>
    </button>
  </div>
</mat-card>

