$breakpoint-small: 767px;
$breakpoint-medium: 991px;
$breakpoint-large: 1200px;


@media only screen and (max-width: $breakpoint-small) {
  .actions {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .documentCard {
    margin: 5px !important;
    width: 300px !important;
    justify-content: space-between;
  }
}

.documentCard {
  color: white;
  background-color: #b7abce;
  margin: 10px;
  border: 3px solid #9078bd;
  display: flex;
  flex-direction: row;
  align-items: center;

  .actions {
    display: flex;
    flex-direction: column;

    #saveBtn {
      mat-icon {
        color: -moz-mac-accentdarkestshadow;
      }
    }

    button {
      margin: 0px 10px;
      background-color: transparent;
      box-shadow: none;

      mat-icon {
        color: #7b5fb2;
      }
    }
  }
}
