<div class="dashboard-container custom-flexbox">

  <div class="left-container">
    <mat-chip-listbox aria-label="Fish selection" class="chips custom-flexbox">
      <mat-chip-option>Recently Made</mat-chip-option>
      <mat-chip-option>Recently Updated</mat-chip-option>
      <mat-chip-option color="accent" selected>Active</mat-chip-option>
      <mat-chip-option color="warn">Expired</mat-chip-option>
    </mat-chip-listbox>

    <div class="results">
      <div (mouseenter)="openSnackBar('this','that')" *ngFor="let data of exampleData">
        <mat-card class="dashboard-example-card">
          <mat-card-header>
            <mat-card-title>ShipsKart-Hr-Link : Active
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>aklsdha;lskfghasjkfhasjklfhaskdn.asjgrd;oqwjrgf;qkwj.sfgasjfgalsfg</p>
            <p>aklsdha;lskfghasjkfhasjklfhaskdn.asjgrd;oqwjrgf;qkwj.sfgasjfgalsfg</p>
            <p>aklsdha;lskfghasjkfhasjklfhaskdn.asjgrd;oqwjrgf;qkwj.sfgasjfgalsfg</p>
          </mat-card-content>
          <mat-card-actions style="display: flex ; align-content: flex-start">
            <button mat-raised-button style="margin-right: 20px">SHARE</button>
            <button color="warn" mat-raised-button>
              Delete
            </button>
          </mat-card-actions>
          <mat-card-footer style="text-align: right">
            <mat-card-subtitle>(last seen 5 mins ago)
            </mat-card-subtitle>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="right-container">
    <mat-card class="show-card-details">
      <mat-card-title>Recently Updated</mat-card-title>
    </mat-card>
  </div>
</div>
<!--          <div>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Message</mat-label>-->
<!--              <input #message matInput value="Disco party!">-->
<!--            </mat-form-field>-->

<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Action</mat-label>-->
<!--              <input #action matInput value="Dance">-->
<!--            </mat-form-field>-->

<!--            <button (click)="openSnackBar(message.value, action.value)" mat-stroked-button>Show snack-bar</button>-->
<!--            <mat-slide-toggle>Slide me!</mat-slide-toggle>-->
<!--          </div>-->
