<div class="create-button overlay">
  <button (click)="openCreateDialog()" class="create-btn"
          color="accent" mat-fab matTooltip="Create New Qr/Link" matTooltipPosition="left">
    <mat-icon>add</mat-icon>
    <!--    Create New-->
  </button>
</div>

<div class="dashboard-container custom-flexbox">
  <div class="left-container">
    <mat-chip-listbox aria-label="Fish selection" class="chips custom-flexbox">
      <mat-chip-option class="hover">Recently Made</mat-chip-option>
      <mat-chip-option class="hover">Recently Updated</mat-chip-option>
      <mat-chip-option class="hover" color="accent" selected>Active</mat-chip-option>
      <mat-chip-option class="hover" color="warn">Expired</mat-chip-option>
    </mat-chip-listbox>

    <div class="results">
      <div (mouseenter)="qrDetails=data" *ngFor="let data of qrData" class="hover card dashboard-example-card">
        <mat-card class="card-class" matTooltip="{{getLastSeen(data.lastSeen)}}" matTooltipPosition="right">
          <div class="card-content-container">
            <mat-card-header>
              <mat-card-title>{{data.sessionName}}</mat-card-title>
              <mat-card-subtitle>{{data.creationDate | date:'medium'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
              <p><strong>Security Type : </strong>{{data.sessionType}}</p>
              <p><strong>Number of Devices : </strong>
                <span *ngIf="data.deviceList">{{data.deviceList.length}}</span>
                <span *ngIf="!data.deviceList">0</span>
              </p>
              <p><strong>Documents Access : </strong>{{data.documentIds.length}}</p>
            </mat-card-content>
          </div>
          <mat-card-actions class="cardActions">
            <button (click)="shareQrLink(data)" class="share-btn">
              <mat-icon>share</mat-icon>
            </button>
            <button class="delete-btn">
              <mat-icon (click)="deleteQrLink(data.id)" color="warn">delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>


  <div *ngIf="qrDetails!=dummyData" class="right-container">
    <mat-card class="show-card-details">
      <mat-card-header style="display: flex ; justify-content: flex-end">
        <a (click)="qrDetails=dummyData" class="cancel-btn">
          <mat-icon>clear</mat-icon>
        </a>
      </mat-card-header>
      <mat-card-content>
        <div class="document-info">
          <mat-card-title>Documents</mat-card-title>
          <mat-divider></mat-divider>

          <div *ngFor="let doc of qrDetails.documents" class="hover document-item">
            <mat-card>
              <div class="body">
                <div class="inner">
                  <mat-icon>description</mat-icon>
                  <span>{{doc.documentType}}</span>
                </div>
                <button (click)="viewDocument(doc.documentReference)" mat-button>
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </div>

        <div class="device-info">
          <mat-card-title>Devices</mat-card-title>
          <mat-divider></mat-divider>
          <div *ngFor="let device of qrDetails.deviceList" class="hover device-item">
            <mat-card>
              <div class="body">
                <mat-icon *ngIf="device.deviceType == 'Desktop'">computer</mat-icon>
                <mat-icon *ngIf="device.deviceType == 'Mobile'">phone_iphone</mat-icon>
                <div>Ip : {{device.ipAddress}}</div>
                <div>Type : {{device.deviceType}}</div>
                <div>Height : {{device.screenHeight}}</div>
                <div>Width : {{device.screenWidth}}</div>
                <!--                <button mat-button>-->
                <!--                  <mat-icon>eye</mat-icon>-->
                <!--                </button>-->
              </div>
            </mat-card>
          </div>


        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--          <div>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Message</mat-label>-->
<!--              <input #message matInput value="Disco party!">-->
<!--            </mat-form-field>-->

<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Action</mat-label>-->
<!--              <input #action matInput value="Dance">-->
<!--            </mat-form-field>-->

<!--            <button (click)="openSnackBar(message.value, action.value)" mat-stroked-button>Show snack-bar</button>-->
<!--            <mat-slide-toggle>Slide me!</mat-slide-toggle>-->
<!--          </div>-->
