/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

///////////////////////////////
@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify !important;
  align-content: $align;
}

.custom-flexbox {
  @include flexbox(row, space-between, center);
}

///////////////////////////////
.results {
  @include flexbox(row, flex-start, center) ;
  flex-wrap: wrap;
}

.results:last-child {
  margin-bottom: 20px;
}

.card {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hover:hover {
  transition: all 0.1s ease;
  //background-color: #efefef;
  transform: scale(1.03);
  box-shadow: 0px 0px 13px hsla(0, 0%, 40%, 0.75);
  cursor: pointer;
}

///////////////////////////////
.mdc-evolution-chip-set__chips {
  @include flexbox;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #e2e2e2 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #bfb8ce !important;
  border-radius: 0;
}

.mdc-list-item__primary-text {
  font-size: 20px !important;
}

.mdc-list-item:focus .mdc-list-item__primary-text {
  font-size: 25px !important;
}

///////////////////////////////
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}


////////////////////////////////////////////////////////
/* Animation property */
wiggle-animation {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

body {
  background: #000;
}

wiggle-animation {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);

  height: 4em;
  width: 7em;

  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}
