/*  askdhasjklfhaskljf */

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

html, body {
  height: 100vh;
}


///////////////////////////////
@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify !important;
  align-content: $align;
}

.custom-flexbox {
  @include flexbox(row, space-between, center);
}

.results {
  @media screen and (max-width: 800px) {
    justify-content: center !important;
  }
  @include flexbox(row, flex-start, center) ;
  flex-wrap: wrap;
}

//.results:last-child {
//  margin-bottom: 20px;
//}

.card {
  transition: all 0.1s ease;
  margin: 10px;
  width: 300px;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  overflow: hidden;
  //position: relative;
  cursor: pointer;
}

.hover:hover {
  transition: all 0.1s ease;
  //background-color: #efefef;
  transform: scale(1.03);
  box-shadow: 0px 0px 13px hsla(0, 0%, 40%, 0.75);
  cursor: pointer;
}

.text-icon {
  display: flex !important;
  align-items: center !important;

  mat-icon {
    margin-right: 6px;
  }
}

///////////////////////////////

.mat-drawer-content {
  //position: relative !important;
  //z-index: 1 !important;
  //display: block !important;
  //height: 99vh !important;
  //overflow: hidden !important;
  //width: 100%;
}

///////////////////////////////
.mdc-evolution-chip-set__chips {
  @include flexbox;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #e2e2e2 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #bfb8ce !important;
  border-radius: 0;
}

.mdc-list-item__primary-text {
  font-size: 20px !important;
}

.mdc-list-item:focus .mdc-list-item__primary-text {
  font-size: 25px !important;
}

.mat-bottom-sheet-container {
  min-width: 94vw !important;
  margin: 0px 10px;
  border-radius: 15px 15px 0px 0px;
  @media screen and (min-width: 800px) {
    min-width: 50vw !important;
  }
}

.fab-with-no-color {
  background-color: transparent !important;
  box-shadow: none !important;
}

.fab-with-no-color:hover {
  background-color: #e1e1e1 !important;
  box-shadow: none !important;
}

////////////////////////////////////////////////////////
/* Animation property */
wiggle-animation {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

wiggle-animation {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);

  height: 4em;
  width: 7em;

  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

///////////////////////////////
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}


//.mat-drawer-container {
//  position: relative;
//  z-index: 1;
//  box-sizing: border-box;
//  -webkit-overflow-scrolling: touch;
//  display: block;
//  overflow: none;
//
//  .mat-drawer-content {
//    display: flex;
//    flex-direction: column;
//    flex: 1 1 auto;
//    overflow: auto;
//    position: relative;
//    z-index: 1;
//    -webkit-overflow-scrolling: touch;
//    box-sizing: border-box;
//    padding: 0px 10px;
//    margin-bottom: 10px;
//  }
//}
